# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_XIAORNE_LEFT
	def_bool $(shields_list_contains,xiaorne_left)

config SHIELD_XIAORNE_RIGHT
	def_bool $(shields_list_contains,xiaorne_right)
