# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_XIAORNE_LEFT

config ZMK_KEYBOARD_NAME
	default "xiaorne"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_XIAORNE_LEFT || SHIELD_XIAORNE_RIGHT

config ZMK_SPLIT
	default y

endif
