#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &dongle_kscan;
    };

    dongle_kscan: dongle_kscan {
        compatible = "zmk,kscan-mock";
        columns = <1>;
        rows = <0>;

        events = <>;
    };
};