#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = default_transform;
    };

    default_transform: dongle {
        compatible = "zmk,kscan-mock";
        columns = <1>;
        rows = <0>;

        events = <>;
    };

};