#include <physical_layouts.dtsi>




/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 125 100    0   25       0     0     0>
            , <&key_physical_attrs 100 100  125   25       0     0     0>
            , <&key_physical_attrs 100 100  225    0       0     0     0>
            , <&key_physical_attrs 100 100  325    0       0     0     0>
            , <&key_physical_attrs 100 100  425    0       0     0     0>
            , <&key_physical_attrs 100 100  525    0       0     0     0>
            , <&key_physical_attrs 100 100  625    0       0     0     0>
            , <&key_physical_attrs 100 100 1075    0       0     0     0>
            , <&key_physical_attrs 100 100 1175    0       0     0     0>
            , <&key_physical_attrs 100 100 1275    0       0     0     0>
            , <&key_physical_attrs 100 100 1375    0       0     0     0>
            , <&key_physical_attrs 100 100 1475    0       0     0     0>
            , <&key_physical_attrs 100 100 1575   25       0     0     0>
            , <&key_physical_attrs 125 100 1675   25       0     0     0>
            , <&key_physical_attrs 125 100    0  125       0     0     0>
            , <&key_physical_attrs 100 100  125  125       0     0     0>
            , <&key_physical_attrs 100 100  225  100       0     0     0>
            , <&key_physical_attrs 100 100  325  100       0     0     0>
            , <&key_physical_attrs 100 100  425  100       0     0     0>
            , <&key_physical_attrs 100 100  525  100       0     0     0>
            , <&key_physical_attrs 100 100  625  100       0     0     0>
            , <&key_physical_attrs 100 100 1075  100       0     0     0>
            , <&key_physical_attrs 100 100 1175  100       0     0     0>
            , <&key_physical_attrs 100 100 1275  100       0     0     0>
            , <&key_physical_attrs 100 100 1375  100       0     0     0>
            , <&key_physical_attrs 100 100 1475  100       0     0     0>
            , <&key_physical_attrs 100 100 1575  125       0     0     0>
            , <&key_physical_attrs 125 100 1675  125       0     0     0>
            , <&key_physical_attrs 125 100    0  225       0     0     0>
            , <&key_physical_attrs 100 100  125  225       0     0     0>
            , <&key_physical_attrs 100 100  225  200       0     0     0>
            , <&key_physical_attrs 100 100  325  200       0     0     0>
            , <&key_physical_attrs 100 100  425  200       0     0     0>
            , <&key_physical_attrs 100 100  525  200       0     0     0>
            , <&key_physical_attrs 100 100  625  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100 1275  200       0     0     0>
            , <&key_physical_attrs 100 100 1375  200       0     0     0>
            , <&key_physical_attrs 100 100 1475  200       0     0     0>
            , <&key_physical_attrs 100 100 1575  225       0     0     0>
            , <&key_physical_attrs 125 100 1675  225       0     0     0>
            , <&key_physical_attrs 125 100    0  325       0     0     0>
            , <&key_physical_attrs 100 100  125  325       0     0     0>
            , <&key_physical_attrs 100 100  225  300       0     0     0>
            , <&key_physical_attrs 100 100  325  300       0     0     0>
            , <&key_physical_attrs 100 100  425  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  675  400    1500   525   400>
            , <&key_physical_attrs 100 100  775  400    1500   525   400>
            , <&key_physical_attrs 100 100  925  400 (-1500)  1275   400>
            , <&key_physical_attrs 100 100 1025  400 (-1500)  1275   400>
            , <&key_physical_attrs 100 100 1175  300       0     0     0>
            , <&key_physical_attrs 100 100 1275  300       0     0     0>
            , <&key_physical_attrs 100 100 1375  300       0     0     0>
            , <&key_physical_attrs 100 100 1475  300       0     0     0>
            , <&key_physical_attrs 100 100 1575  325       0     0     0>
            , <&key_physical_attrs 125 100 1675  325       0     0     0>
            , <&key_physical_attrs 125 100    0  425       0     0     0>
            , <&key_physical_attrs 100 100  125  425       0     0     0>
            , <&key_physical_attrs 100 100  225  400       0     0     0>
            , <&key_physical_attrs 100 100  325  400       0     0     0>
            , <&key_physical_attrs 100 100  425  400       0     0     0>
            , <&key_physical_attrs 100 100  775  500    1500   525   400>
            , <&key_physical_attrs 100 100  925  500 (-1500)  1275   400>
            , <&key_physical_attrs 100 100 1275  400       0     0     0>
            , <&key_physical_attrs 100 100 1375  400       0     0     0>
            , <&key_physical_attrs 100 100 1475  400       0     0     0>
            , <&key_physical_attrs 100 100 1575  425       0     0     0>
            , <&key_physical_attrs 125 100 1675  425       0     0     0>
            , <&key_physical_attrs 100 200  575  500    1500   525   400>
            , <&key_physical_attrs 100 200  675  500    1500   525   400>
            , <&key_physical_attrs 100 100  775  600    1500   525   400>
            , <&key_physical_attrs 100 100  925  600 (-1500)  1275   400>
            , <&key_physical_attrs 100 200 1025  500 (-1500)  1275   400>
            , <&key_physical_attrs 100 200 1125  500 (-1500)  1275   400>
            ;
    };

    // splitkb_clone_advantage_position_map {
    //     compatible = "zmk,physical-layout-position-map";

    //     complete;

    //     twelve {
    //         physical-layout = <&physical_layout0>;
    //         positions
    //             = < 0  1  2  3  4  5  6           7  8  9 10 11 12 13>
    //             , <14 15 16 17 18 19 20          21 22 23 24 25 26 27>
    //             , <28 29 30 31 32 33 34          35 36 37 38 39 40 41>
    //             , <42 43 44 45 46 47 48 49    50 51 52 53 54 55 56 57>
    //             , <58 59 60 61 62       63    64       65 66 67 68 69>
    //             , <               70 71 72    73 74 75               >;
    //     };
};