#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

/* definitions for mouse layer */
// #include "mouse.dtsi"

#define ___ &trans

#define QWERTY 0
#define COLEMAK 1
#define KEYPAD 2
#define FN 3
#define MOD 4
#define MS 5

&lt {
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                &kp   EQUAL &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &none                                &none     &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS
                &kp   TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &none                                &none     &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSLH
                &kp   ESC   &kp A     &kp S     &kp D     &kp F     &kp G     &none                                &none     &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
                &kp   LSHFT &kp Z     &kp X     &kp C     &kp V     &kp B     &kp LCTRL  &kp LALT        &kp LGUI  &kp RCTRL &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT
                &none &kp GRAVE &kp CAPS  &kp LEFT  &kp RIGHT                            &kp HOME        &kp PG_UP                      &kp UP    &kp DOWN  &kp LBKT  &kp RBKT  &none
                                                                    &kp TAB   &kp SPACE  &kp END         &kp PG_DN &kp ENTER &kp BSPC
                                                                                   
            >;
        };
    };
};