# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_clone_advantage_LEFT

config ZMK_KEYBOARD_NAME
	default "clone_advantage"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_clone_advantage_LEFT || SHIELD_clone_advantage_RIGHT

config ZMK_SPLIT
	default y

endif
