# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_ClONE_ADVANTAGE_LEFT
	def_bool $(shields_list_contains,clone_advantage_left)

config SHIELD_ClONE_ADVANTAGE_RIGHT
	def_bool $(shields_list_contains,clone_advantage_right)
